Aleor bot.json
{
  "name": "Aleor bot",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ===============================\n// Parse Update (единый вариант)\n// ===============================\n\nconst src = items[0]?.json ?? {};\nconst prevSession = src.session || {};\n\n// -------------------------------------------------\n// 1) Базовая инфа из Telegram update\n// -------------------------------------------------\nlet chatId = '';\nlet userId = '';\nlet userName = 'User';\nlet messageId = '';\nlet isCallback = false;\nlet callbackQueryId = null;\nlet text = '';\nlet rawCommand = '';\n\nif (src.message) {\n  const m = src.message;\n  chatId = m.chat?.id;\n  userId = m.from?.id;\n  userName = m.from?.first_name || 'User';\n  messageId = m.message_id;\n  text = (m.text || '').trim();\n} else if (src.callback_query) {\n  const c = src.callback_query;\n  isCallback = true;\n  chatId = c.message?.chat?.id;\n  userId = c.from?.id;\n  userName = c.from?.first_name || 'User';\n  messageId = c.message?.message_id;\n  callbackQueryId = c.id;\n  rawCommand = (c.data || '').trim(); // callback_data\n}\n\nlet session = { ...prevSession };\n\n// -------------------------------------------------\n// 2) Команда / контекст\n// -------------------------------------------------\nconst raw = (text || '').trim();\nconst low = raw.toLowerCase();\n\n// /start или \\start (+ допускаем /start@Bot)\nconst isStart = !isCallback && /^[/\\\\]start(?:@\\w+)?(?:\\s|$)/i.test(raw);\n\nlet command = rawCommand;\nlet pageOffsetFromCallback = null;\n\n// Обработка \"Показать ещё\" с offset: products_more_20, products_more_40 ...\nif (isCallback && typeof rawCommand === 'string' && rawCommand.startsWith('products_more')) {\n  const m = rawCommand.match(/^products_more_(\\d+)$/);\n  if (m) {\n    pageOffsetFromCallback = parseInt(m[1], 10) || 0;\n  }\n  command = 'products_more';\n}\n\nif (isStart) {\n  command = 'main';\n  session = { menuAction: 'main' }; // полный сброс контекста\n} else if (!isCallback) {\n  if (low.includes('оплата') || low.includes('доставка')) command = 'payment';\n  else if (low.includes('налич')) command = 'stock';\n  else if (low.includes('заказ')) command = 'order';\n  else if (low.includes('как заказать') || (low.includes('как') && low.includes('заказ'))) command = 'howto';\n  else if (!command) {\n    const ctx = prevSession.menuAction;\n    command = ['order', 'stock', 'payment', 'howto'].includes(ctx) ? ctx : 'default';\n  }\n}\n\n/**\n * -------------------------------------------------\n * 2.1) МГНОВЕННОЕ РАСПОЗНАНИЕ КОДА ВНЕ КОНТЕКСТА\n * Форматы:\n *   12345-42 / 12345 42\n *   12345-XS/S/M/L/XL/XXL/XXXL\n * При найденном коде уходим в 'instant_check_stock'\n * (если не callback и нет нажатия кнопки)\n * -------------------------------------------------\n */\nlet instantSku = null;\nif (!isCallback && raw) {\n  const instantRe = /\\b(\\d{5})[-\\s]?((\\d{2})|(XS|S|M|L|XL|XXL|XXXL))\\b/i;\n  const mm = raw.match(instantRe);\n  if (mm) {\n    instantSku = { productNumber: mm[1], size: mm[2].toUpperCase() };\n    command = 'instant_check_stock';\n  }\n}\n\n// -------------------------------------------------\n// 3) Меню и тексты (экраны)\n// -------------------------------------------------\nconst MENU_CONFIG = {\n  main: {\n    text: `👋 Добро пожаловать в магазин одежды <b>ALÉOR</b>\\n\\nВыберите нужный пункт ниже:`,\n    keyboard: [\n      [{ text: '🛒 Персональный заказ',           callback_data: 'order' }],\n      [{ text: '📦 Список товаров в наличии',     callback_data: 'stock' }],\n      [{ text: '🧾 Как оформить заказ?',          callback_data: 'howto' }],\n      [{ text: '💳 Оплата и доставка',           callback_data: 'payment' }],\n    ],\n    action: 'show_menu',\n  },\n\n  order: {\n    text:\n      '🛍️ <b>Что именно Вас интересует?</b>\\n\\n' +\n      'Напишите, пожалуйста, <b>артикул/название</b> товара или пришлите ссылку ' +\n      '<b>с указанием Вашего размера.</b>\\n\\n' +\n      'После этого наш менеджер свяжется с Вами в ближайшее время! 🤝',\n    keyboard: [],\n    action: 'collect_order',\n  },\n\n  // Экран \"наличие\" с кнопкой для списка товаров\n  stock: {\n    text:\n      '📦 Здесь будет <b>список товаров, доступных в наличии</b>.\\n\\n' +\n      'Нажмите кнопку ниже, чтобы посмотреть ассортимент по наличию:',\n    keyboard: [\n      [{ text: '📃 Посмотреть список товаров', callback_data: 'show_list' }],\n    ],\n    action: 'show_stock_menu',\n  },\n\n  payment: {\n    text:\n      '💶 <b>Возможности оплаты и 🚚 доставки Вашего заказа:</b>\\n\\n' +\n      '<b>Доставка осуществляется по всему миру!</b>\\n\\n' +\n      '<b>Оплата осуществляется:</b>\\n' +\n      '• <b>Наличными курьеру</b> при получении товара.\\n' +\n      '• <b>Онлайн перевод.</b>\\n\\n' +\n      '<b>* Для индивидуальных заказов требуется аванс.</b>',\n    keyboard: [],\n    action: 'show_payment',\n  },\n\n  howto: {\n    text:\n      '🧾<b>Как оформить заказ?</b>\\n\\n' +\n      'Свяжитесь, пожалуйста, с менеджером @ALEOR_BUYER для оформления заказа.',\n    keyboard: [],\n    action: 'show_help',\n  },\n\n  default: {\n    text:\n      '🤔 К сожалению, я не понял ваш вопрос.\\nВыберите пункт меню ниже:',\n    keyboard: [\n      [{ text: '🛒 Персональный заказ',       callback_data: 'order' }],\n      [{ text: '📦 Список товаров в наличии', callback_data: 'stock' }],\n      [{ text: '🧾 Как заказать?',            callback_data: 'howto' }],\n      [{ text: '💳 Оплата и доставка', callback_data: 'payment' }],\n    ],\n    action: 'show_menu',\n  },\n};\n\n// -------------------------------------------------\n// 4) Intents для Route by Intent\n// -------------------------------------------------\nlet intent = 'show_menu';\nlet payload = {};\n\nswitch (command) {\n  case 'main':\n    intent = 'show_menu';\n    session.menuAction = 'main';\n    break;\n\n  case 'order':\n    intent = 'collect_order';\n    session.menuAction = 'order';\n    break;\n\n  case 'stock':\n    // 6-я дорожка: показать экран с описанием + кнопкой \"Посмотреть список\"\n    intent = 'show_stock_menu';\n    session.menuAction = 'stock';\n    break;\n\n  case 'show_list':\n    // первая страница списка\n    intent = 'check_stock';\n    session.menuAction = 'stock';\n    session.listOffset = 0; // начинаем с нуля\n    break;\n\n  case 'products_more':\n    // следующая страница списка\n    intent = 'check_stock';\n    session.menuAction = 'stock';\n    if (pageOffsetFromCallback !== null && !Number.isNaN(pageOffsetFromCallback)) {\n      session.listOffset = pageOffsetFromCallback;\n    }\n    break;\n\n  case 'payment':\n    intent = 'show_payment';\n    session.menuAction = 'payment';\n    break;\n\n  case 'howto':\n    intent = 'show_help';\n    session.menuAction = 'howto';\n    break;\n\n  case 'instant_check_stock':\n    // отдельная ветка под мгновенную проверку по коду 00013-42\n    intent = 'instant_check_stock';\n    // menuAction не меняем, это \"быстрая\" проверка\n    break;\n\n  default:\n    intent = 'confused';\n    session.menuAction = 'main';\n    break;\n}\n\n// -------------------------------------------------\n// 5) Payload под конкретные интенты\n// -------------------------------------------------\n\n// Строгий детектор кода: 12345-42 или 12345-XS...\nconst strictMatch = text\n  ? text.match(/\\b(\\d{5})[-\\s]?((\\d{2})|(XS|S|M|L|XL|XXL|XXXL))\\b/i)\n  : null;\nconst strictPn = strictMatch ? strictMatch[1] : null;\nconst strictSz = strictMatch ? strictMatch[2].toUpperCase() : null;\nconst strictValid = Boolean(strictMatch);\n\n// 5.1 Персональный заказ\nif (intent === 'collect_order' && text) {\n  payload.orderText = text;\n  payload.customerName = userName;\n  payload.telegramUserId = userId;\n  payload.chatId = chatId;\n}\n\n// 5.2 Проверка наличия в КОНТЕКСТЕ (по сообщению в чате)\nif (intent === 'check_stock' && text) {\n  const skuMatch = text.match(/(?:sku[:\\s-]*|артикул[:\\s-]*|№\\s*|#\\s*)?([a-z0-9_-]{2,})/i);\n  const sizeMatch = text.match(/(?:size|размер|rzm|sz)[:\\s-]*([0-9]{2,3}|[xsml]{1,3})/i);\n  const candidateNumbers = text.match(/\\b\\d{2,}\\b/g);\n\n  let productNumber = null;\n  if (skuMatch && skuMatch[1]) productNumber = skuMatch[1];\n  else if (candidateNumbers && candidateNumbers.length) productNumber = candidateNumbers[0];\n\n  let size = sizeMatch ? sizeMatch[1].toUpperCase() : null;\n\n  // если строгий детектор сработал — приоритет ему\n  if (strictValid) {\n    productNumber = strictPn;\n    size = strictSz;\n  }\n\n  payload.productNumber = productNumber || null;\n  payload.size = size || null;\n  payload.queryRaw = text;\n\n  // общие поля\n  payload.raw_message = text;\n  payload.chat_id = chatId;\n  payload.valid_stock_request = strictValid;\n}\n\n// 5.3 Мгновенная проверка по коду (instant_check_stock)\nif (intent === 'instant_check_stock' && text) {\n  const prod = instantSku?.productNumber ?? strictPn ?? null;\n  const sz = instantSku?.size ?? strictSz ?? null;\n\n  payload.productNumber = prod;\n  payload.size = sz;\n  payload.queryRaw = text;\n\n  payload.raw_message = text;\n  payload.chat_id = chatId;\n  payload.valid_stock_request = strictValid;\n}\n\n// 5.4 Авто-ответ при нажатии на кнопку меню (order / stock / payment / howto / default)\nlet replyText = null;\nlet replyKeyboard = null;\n\nif (isCallback && MENU_CONFIG[command]) {\n  replyText = MENU_CONFIG[command].text;\n  replyKeyboard = MENU_CONFIG[command].keyboard;\n}\n\n// -------------------------------------------------\n// 6) Выход\n// -------------------------------------------------\nconst out = {\n  src,\n  messageId,\n  callbackQueryId,\n  isCallback,\n  userId,\n  userName,\n  chatId,\n\n  command,   // main / order / stock / show_list / products_more / payment / howto / instant_check_stock / default\n  intent,    // show_menu / collect_order / show_stock_menu / check_stock / show_payment / show_help / instant_check_stock / confused\n  payload,\n  session,\n\n  menuConfig: MENU_CONFIG,\n\n  // Для Telegram Send (если используешь)\n  replyText,\n  replyKeyboard,\n};\n\nconsole.log(`[bot] intent=${intent} cmd=${command} user=${userName} chat=${chatId}`);\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        1504
      ],
      "id": "07231251-d295-43b8-8e8b-cc726dbe5dcd",
      "name": "Parse Update1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Route by Intent').first().json.chatId }}",
        "text": "={{ $json.text }} ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➡️ Показать ещё",
                    "additionalFields": {
                      "callback_data": "={{ 'products_more_' + $json.nextOffset }}"
                    }
                  },
                  {
                    "text": "🔙 В меню",
                    "additionalFields": {
                      "callback_data": "main"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        1152
      ],
      "id": "89182abf-bf6a-4c05-80b3-1f6090871006",
      "name": "Все позиции2",
      "webhookId": "0bec1e62-2e18-47c4-8a87-db34a63f0146",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appQu6xEHi6aHAuDM",
          "mode": "list",
          "cachedResultName": "Product Catalog",
          "cachedResultUrl": "https://airtable.com/appQu6xEHi6aHAuDM"
        },
        "table": {
          "__rl": true,
          "value": "tblbMlEHH6iZ0D0na",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appQu6xEHi6aHAuDM/tblbMlEHH6iZ0D0na"
        },
        "options": {
          "view": {
            "__rl": true,
            "value": "viwKbgWhHlBsjd40Q",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appQu6xEHi6aHAuDM/tblbMlEHH6iZ0D0na/viwKbgWhHlBsjd40Q"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -864,
        1408
      ],
      "id": "d6ab213a-81d1-4370-b06e-5ac2e96651f6",
      "name": "Find Variant1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "SUvXYEflYEOLFKD6",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Кол-во товаров на странице\nvar PAGE_SIZE = 20;\n\n// Все записи (товары) после Merge\nvar records = items.map(function (i) { return i.json; });\n\n// Читаем offset из первого айтема (он одинаковый у всех)\nvar offset = 0;\nif (records.length > 0 && typeof records[0].listOffset === \"number\") {\n  offset = records[0].listOffset;\n}\n\n// Подстрахуемся\nif (offset < 0) {\n  offset = 0;\n}\nif (offset >= records.length) {\n  offset = 0;\n}\n\n// Формируем текущую страницу\nvar page = records.slice(offset, offset + PAGE_SIZE);\n\n// Текст для Telegram\nvar text = \"📦 <b>Список товаров в наличии</b>:\\n\\n\";\n\npage.forEach(function (p, index) {\n  var num = offset + index + 1;\n\n  var brand = (p.Brand && p.Brand.value) ? p.Brand.value : \"\";\n  var size  = (p.Size && p.Size.value) ? p.Size.value : \"\";\n  var price = p.Price ? (p.Price + \" ₽\") : \"\";\n  var desc  = p.Description || \"\";\n\n  text += num + \". <b>\" + brand + \"</b>\\n\";\n  if (size)  { text += \"Размер: \" + size + \"\\n\"; }\n  if (price) { text += \"Цена: \" + price + \"\\n\"; }\n  if (desc)  { text += desc + \"\\n\"; }\n  text += \"\\n\";\n});\n\n// Есть ли ещё товары\nvar hasMore = (offset + PAGE_SIZE) < records.length;\n\n// Следующий offset (его потом запишем в OffsetStore)\nvar listOffset = hasMore ? offset + PAGE_SIZE : 0;\n\n// Возвращаем результат\nreturn [\n  {\n    json: {\n      text: text,\n      hasMore: hasMore,\n      listOffset: listOffset\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1312
      ],
      "id": "e9086cdc-e5d1-41d3-b27f-777ef3a6a675",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1158317e-d93e-4177-ac35-cc40c2e491cd",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        1296
      ],
      "id": "50ad294d-ca08-4815-b92b-3aa502eed68e",
      "name": "If3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Route by Intent').first().json.chatId }}",
        "text": "={{ $json.text }} ",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔙 В меню",
                    "additionalFields": {
                      "callback_data": "main"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        1456
      ],
      "id": "2770ead3-a507-4a5d-a710-5af7d293846d",
      "name": "Все позиции3",
      "webhookId": "9e5e1106-9772-44db-a769-33fdc32c3369",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ \n  $node[\"Route by Intent\"].json.callback_query?.chat_id \n    || $node[\"Telegram Trigger4\"].json.callback_query?.message?.chat?.id || $('Telegram Trigger4').item.json.message.chat.id }}\n",
        "text": "={{$json.text}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.reply_markup.inline_keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.reply_markup.inline_keyboard[0][0].callback_data }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.reply_markup.inline_keyboard[1][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.reply_markup.inline_keyboard[1][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.reply_markup.inline_keyboard[2][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.reply_markup.inline_keyboard[2][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.reply_markup.inline_keyboard[3][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.reply_markup.inline_keyboard[3][0].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1008,
        1248
      ],
      "id": "999e4ceb-bef5-41bc-b400-3fea319809ab",
      "name": "Start menu",
      "webhookId": "35b560cb-b572-4fe5-8e3b-d100ac65a1df",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "8f64936d-03d9-40fc-91b7-85d28f6c3a24",
      "name": "Telegram Trigger4",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -2688,
        1440
      ],
      "webhookId": "4333853c-29df-43c0-a8b5-db9aac116f9f",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.isCallback}}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "094a81b0-6834-4ba7-88bf-af8681bf6faf",
      "name": "Is Callback?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1536,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const src = items[0]?.json ?? {};\nconst prevSession = src.session || {};\n\n// -------------------------------------------------\n// 1) Базовая инфа из апдейта Telegram\n// -------------------------------------------------\nlet chatId = '';\nlet userId = '';\nlet userName = 'User';\nlet messageId = '';\nlet isCallback = false;\nlet callbackQueryId = null;\nlet text = '';\nlet rawCommand = '';\n\nif (src.message) {\n  const m = src.message;\n  chatId = m.chat?.id;\n  userId = m.from?.id;\n  userName = m.from?.first_name || 'User';\n  messageId = m.message_id;\n  text = (m.text || '').trim();\n} else if (src.callback_query) {\n  const c = src.callback_query;\n  isCallback = true;\n  chatId = c.message?.chat?.id;\n  userId = c.from?.id;\n  userName = c.from?.first_name || 'User';\n  messageId = c.message?.message_id;\n  callbackQueryId = c.id;\n  rawCommand = (c.data || '').trim(); // callback_data\n}\n\n// держим session доступной по всему коду\nlet session = { ...prevSession };\n\n// -------------------------------------------------\n// 2) Команда / контекст\n// -------------------------------------------------\nconst raw = (text || '').trim();\nconst low = raw.toLowerCase();\n\n// /start или \\start (+ допускаем /start@Bot и payload)\nconst isStart = !isCallback && /^[/\\\\]start(?:@\\w+)?(?:\\s|$)/i.test(raw);\n\nlet command = rawCommand;\n\nif (isStart) {\n  command = 'main';\n  session = { menuAction: 'main' }; // сброс контекста\n} else if (!isCallback) {\n  if (low.includes('оплата') || low.includes('доставка')) command = 'payment';\n  else if (low.includes('налич')) command = 'stock';\n  else if (low.includes('заказ')) command = 'order';\n  else if (low.includes('как заказать')) command = 'howto';\n  else if (!command) {\n    const ctx = prevSession.menuAction;\n    command = ['order', 'stock', 'payment', 'howto'].includes(ctx) ? ctx : 'default';\n  }\n}\n\n/**\n * -------------------------------------------------\n * 2.1) МГНОВЕННОЕ РАСПОЗНАНИЕ КОДА ВНЕ КОНТЕКСТА\n * Форматы (регистр размера не важен):\n *   12345-42 / 12345 42\n *   12345-XS/S/M/L/XL/XXL/XXXL\n * При найденном коде уходим в 'instant_check_stock' (сессию не меняем)\n * -------------------------------------------------\n */\nlet instantSku = null;\nif (!isCallback && raw) {\n  const instantRe = /\\b(\\d{5})[-\\s]?((\\d{2})|(XS|S|M|L|XL|XXL|XXXL))\\b/i;\n  const mm = raw.match(instantRe);\n  if (mm) {\n    instantSku = { productNumber: mm[1], size: mm[2].toUpperCase() };\n    command = 'instant_check_stock';\n  }\n}\n\n// -------------------------------------------------\n// 3) Конфиг экранов (текст + кнопки)\n// -------------------------------------------------\nconst MENU_CONFIG = {\n  main: {\n    text: `👋 Добро пожаловать в магазин одежды <b>ALÉOR</b> \\n\\nВыберите нужный пункт ниже:`,\n    keyboard: [\n      [{ text: '🛒 Персональный заказ',  callback_data: 'order' }],\n      [{ text: '📦 Узнать наличие', callback_data: 'stock' }],\n      [{ text: '🧾 Как оформить заказ?',  callback_data: 'howto' }],\n      [{ text: '💳 Оплата и доставка', callback_data: 'payment' }]\n    ],\n    action: 'show_menu',\n  },\n\n  order: {\n    text:\n      '🛍️ <b>Что именно Вас интересует?</b>\\n\\n' +\n      'Напишите, пожалуйста,<b> артикул/название</b> товара или пришлите ссылку <b>с указанием Вашего размера.</b>\\n\\n' +\n      'После этого наш менеджер свяжется с Вами в ближайшее время!🤝',\n    keyboard: [],\n    action: 'collect_order',\n  },\n\n  stock: {\n    text:\n      '📦 У нас представлен <b> большой ассортимент товаров по наличию!</b>\\n\\n' +\n      '<b>Каждая позиция</b> имеет <b>свой артикул в наших постах.</b>\\n' +\n      '<b>Укажите</b> интересующий Вас <b>артикул и размер</b>.\\n\\n' +\n      'Пример : 00013-45, 00009-XL.\\n\\n' +\n      'Я уточню, есть ли данный товар по наличию в интересующем Вас размере!😄',\n    keyboard: [],\n    action: 'check_stock',\n  },\n\n  payment: {\n    text:\n      '💶 <b>Возможности оплаты и 🚚 доставки Вашего заказа:</b>\\n\\n' +\n      '<b>Доставка осуществляется по всему миру!</b>\\n\\n' +\n      '<b>Оплата осуществляется:</b>\\n' +\n      '• <b>Наличными курьеру</b> при получении товара.\\n' +\n      '• <b>Онлайн перевод.</b>\\n\\n' +\n      '<b>* Пожалуйста, обратите внимание: для индивидуальных заказов требуется авансовый платеж.</b>',\n    keyboard: [],\n    action: 'show_payment',\n  },\n\n  howto: {\n    text:\n      '🧾<b>Как оформить заказ?</b>\\n\\n' +\n      'Свяжитесь, пожалуйста, с менеджером @ALEOR_BUYER для дальнейшей консультации и оформления заказа.',\n    keyboard: [],\n    action: 'show_help',\n  },\n\n  default: {\n    text:\n      '🤔 К сожалению, я не компетентен в данном вопросе. Для дальнейшей консультации прошу выбрать один из пунктов ниже или обратиться к Вашему личному менеджеру @ALEOR_BUYER',\n    keyboard: [\n      [{ text: '🛒 Персональный заказ', callback_data: 'order' }],\n      [{ text: '📦 Узнать наличие', callback_data: 'stock' }],\n      [{ text: '🧾 Как заказать?', callback_data: 'howto' }],\n      [{ text: '💳 Оплата и доставка', callback_data: 'payment' }],\n    ],\n    action: 'show_menu',\n  },\n};\n\n// -------------------------------------------------\n// 4) Intents для Route by Intent\n// -------------------------------------------------\nlet intent = 'show_menu';\nlet payload = {};\n\nswitch (command) {\n  case 'main':\n    intent = 'show_menu';              // ветка 0\n    session.menuAction = 'main';\n    break;\n\n  case 'order':\n    intent = 'collect_order';          // ветка 1\n    session.menuAction = 'order';\n    break;\n\n  case 'stock':\n    intent = 'check_stock';            // ветка 2\n    session.menuAction = 'stock';\n    break;\n\n  case 'payment':\n    intent = 'show_payment';           // ветка 3\n    session.menuAction = 'payment';\n    break;\n\n  case 'howto':\n    intent = 'show_help';              // ветка 4\n    session.menuAction = 'howto';\n    break;\n\n  case 'instant_check_stock':          // 🆕 ветка 6\n    intent = 'instant_check_stock';\n    // session.menuAction не меняем — это мгновенная проверка вне контекста\n    break;\n\n  case 'default':\n    intent = 'confused';               // ветка 5\n    session.menuAction = 'main';\n    break;\n}\n\n// -------------------------------------------------\n// 5) Payload под конкретные интенты (единый формат для проверок)\n// -------------------------------------------------\n\n// Строгий детектор кода: *****-** или *****-SIZE (XS/S/M/L/XL/XXL/XXXL)\nconst strictMatch = text ? text.match(/\\b(\\d{5})[-\\s]?((\\d{2})|(XS|S|M|L|XL|XXL|XXXL))\\b/i) : null;\nconst strictPn = strictMatch ? strictMatch[1] : null;\nconst strictSz = strictMatch ? strictMatch[2].toUpperCase() : null;\nconst strictValid = Boolean(strictMatch);\n\n// 5.1 Персональный заказ\nif (intent === 'collect_order' && text) {\n  payload.orderText = text;\n  payload.customerName = userName;\n  payload.telegramUserId = userId;\n  payload.chatId = chatId;\n}\n\n// 5.2 Проверка наличия в КОНТЕКСТЕ\nif (intent === 'check_stock' && text) {\n  const skuMatch = text.match(/(?:sku[:\\s-]*|артикул[:\\s-]*|№\\s*|#\\s*)?([a-z0-9_-]{2,})/i);\n  const sizeMatch = text.match(/(?:size|размер|rzm|sz)[:\\s-]*([0-9]{2,3}|[xsml]{1,3})/i);\n  const candidateNumbers = text.match(/\\b\\d{2,}\\b/g);\n\n  let productNumber = null;\n  if (skuMatch && skuMatch[1]) productNumber = skuMatch[1];\n  else if (candidateNumbers && candidateNumbers.length) productNumber = candidateNumbers[0];\n\n  let size = sizeMatch ? sizeMatch[1].toUpperCase() : null;\n\n  // Если строгий детектор сработал — приоритет ему\n  if (strictValid) {\n    productNumber = strictPn;\n    size = strictSz;\n  }\n\n  payload.productNumber = productNumber || null;\n  payload.size = size || null;\n  payload.queryRaw = text;\n\n  // Единые поля:\n  payload.raw_message = text;\n  payload.chat_id = chatId;\n  payload.valid_stock_request = strictValid; // true только для *****-** / *****-SIZE\n}\n\n// 5.3 МГНОВЕННАЯ проверка вне контекста (строгая)\nif (intent === 'instant_check_stock' && text) {\n  const prod = instantSku?.productNumber ?? strictPn ?? null;\n  const sz   = (instantSku?.size ?? strictSz ?? null);\n\n  payload.productNumber = prod;\n  payload.size = sz;\n  payload.queryRaw = text;\n\n  // Единые поля:\n  payload.raw_message = text;\n  payload.chat_id = chatId;\n  payload.valid_stock_request = strictValid;\n}\n\n// 5.4 Авто-ответ при нажатии на кнопку меню\nlet replyText = null;\nlet replyKeyboard = null;\n\nif (isCallback && MENU_CONFIG[command]) {\n  replyText = MENU_CONFIG[command].text;\n  replyKeyboard = MENU_CONFIG[command].keyboard;\n}\n\n// -------------------------------------------------\n// 6) Выход\n// -------------------------------------------------\nconst out = {\n  ...src,\n  messageId,\n  callbackQueryId,\n  isCallback,\n  userId,\n  userName,\n  chatId,\n\n  command,   // main / order / stock / payment / howto / instant_check_stock / default\n  intent,    // show_menu / collect_order / check_stock / show_payment / show_help / instant_check_stock / confused\n  payload,\n  session,\n\n  menuConfig: MENU_CONFIG,\n\n  // для Telegram Send\n  replyText,\n  replyKeyboard,\n};\n\nconsole.log(`[bot] intent=${intent} cmd=${command} user=${userName} chat=${chatId}`);\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        432
      ],
      "id": "421855df-6069-4e90-bc09-c8ff018aa0ef",
      "name": "Parse Update"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json || {};\n\nconst chatId = input.chatId;            // <- из Parse Update\nconst command = input.command || 'main';\nconst firstName = input.userName || '';\n\nconst cfg = input.menuConfig || {};\nconst block = cfg[command] ? cfg[command] : cfg['default'] || {};\n\nlet text = String(block.text || '').replace(/{firstName}/g, firstName);\ntext = text.replace(/{\\w+}/g, '');\n\nconst inline_keyboard = Array.isArray(block.keyboard) ? block.keyboard : [];\n\nreturn [\n  {\n    json: {\n      chat_id: chatId,     // <- ВАЖНО: chat_id (snake_case), не chatId\n      text,\n      parse_mode: 'HTML',\n      disable_web_page_preview: true,\n      reply_markup: { inline_keyboard },\n\n      // сервисные поля на будущее:\n      original_chat_id: chatId,\n      userName: firstName,\n      command,\n    }\n  }\n];\n"
      },
      "id": "c96b9b12-e38f-4ff5-af8d-2cff07aee24c",
      "name": "Build Menu Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        1248
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{$json.callbackQueryId}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        736
      ],
      "id": "a65b68a4-7300-4e6a-b96a-243d53d73212",
      "name": "Answer Callback",
      "webhookId": "049e94f2-2a40-4bbf-8e1d-f3fa76b8e712",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "show_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ad48beb-a711-4aed-9743-314467b2e7cc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77ed43d4-6f75-4229-bf0f-c10b8f5ffcf5",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "collect_order",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c72b4f1-cbf6-4743-8f44-eecd4720b61f",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "check_stock",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4ea79150-b33e-4a81-94c8-78c8a09146de",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "show_payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d1e4019-3b03-4343-b79c-73daac0a99e9",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "show_help",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "768c2b51-7f75-40bd-b589-f16a320a6296",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "confused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff162bf7-d344-4302-a4bc-24a25359c4f9",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "=show_stock_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1296,
        1616
      ],
      "id": "3e7459dc-0266-4d38-8205-4c30aa3b50b8",
      "name": "Route by Intent"
    },
    {
      "parameters": {
        "chatId": "={{ $json.src.chat_id }}",
        "text": "={{ $json.menuConfig.payment.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        1584
      ],
      "id": "c92c7cf2-f260-402e-8db1-2f3c5cd3e119",
      "name": "Reply Payment",
      "webhookId": "011f3626-8f22-4386-b51f-93dd61039c85",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.src.chat_id }}",
        "text": "={{$json.menuConfig.howto.text}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        1776
      ],
      "id": "d2387737-56d4-41f8-afae-b00f5de73f39",
      "name": "Reply HowTo",
      "webhookId": "3bee5139-4207-4586-b9d9-98584755e998",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8210590781",
        "text": "={{ $json.manager_text }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -928,
        2656
      ],
      "id": "e64914c1-cca6-4c3a-80fd-21ffa4d931eb",
      "name": "Notify Manager",
      "webhookId": "aa8e22fc-8032-4e7a-87e5-efa07171ab94",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "✅ Спасибо за заказ!  Мы уже передали его менеджеру. Сейчас проверим наличие и уточним цену/доставку. Ожидайте, пожалуйста 🙌",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        2272
      ],
      "id": "0d774a2d-07a8-4eaf-87a6-c7b406023d27",
      "name": "Reply Customer",
      "webhookId": "9f6e0fab-4e08-4251-9759-ff98c88032a6",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b99a79ff-9110-4dca-9d9c-cd74f9a7104d",
              "leftValue": "={{$json.order}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "af60dad4-4c5d-4ed5-8e6c-f862cc840a56",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        2096
      ],
      "id": "1b91c6ff-7394-4023-a6ff-6b2552f9d45e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты помощник отдела закупок одежды.\n\nНа вход ты получаешь СЫРОЕ сообщение клиента в Telegram.\nТвоя задача — понять, это попытка оформить заказ вещи или это нерелевантный текст.\n\nЕсли клиент действительно описывает товар (бренд, модель, ссылка, артикул, тип вещи, размер и т.п.),\nто заполни поля и поставь \"valid_order\": true.\n\nЕсли сообщение не похоже на заказ одежды/обуви/аксессуара (это бред, шутка, вопрос не по теме, случайный набор символов и т.д.),\nпоставь \"valid_order\": false\nи все остальные поля, кроме raw_message, заполни null.\n\nТЫ ВСЕГДА возвращаешь ОДИН валидный JSON и НИЧЕГО больше:\n{\n\"valid_order\": true | false,\n\"product_name\": \"название/модель/бренд или артикул, если он есть\",\n\"size\": \"размер, если указан, иначе null\",\n\"link\": \"прямая ссылка на товар (если есть), иначе null\",\n\"raw_message\": \"оригинальный текст клиента без изменений\"\n}\n\nПримеры НЕЗАКАЗА (в таких случаях valid_order = false):\n\n\"134к7равгцтщшч1\"\n\n\"Сколько стоит купить солнце?\"\n\n\"Игорь украл мою футболку\"\n\n\"алё ты кто\"\n\n\"привет\"\n\nСообщение клиента:\n\"{{ $('Telegram Trigger4').item.json.message.text }}\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1808,
        2240
      ],
      "id": "503d5388-b788-46b2-889d-4acf09dbba2f",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1840,
        2432
      ],
      "id": "e9ac36d0-69c1-4e0b-933c-87cb382a5f6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vzXuLJTyTyqsM10r",
          "name": "My OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Берём сырое текстовое поле output из AI Agent\n// (предполагаем, что AI Agent кладёт свой ответ в json.output)\nconst aiAgentOutputRaw = $input.all()[0]?.json?.output;\n\n// 2. Парсим JSON из ответа модели\nlet parsed = {};\ntry {\n  parsed = JSON.parse(aiAgentOutputRaw);\n} catch (e) {\n  // Если модель вернула невалидный JSON или бред — страхуемся\n  parsed = {\n    valid_order: false,\n    product_name: null,\n    size: null,\n    link: null,\n    raw_message: aiAgentOutputRaw || null,\n  };\n}\n\n// Подстрахуем обязательные ключи, даже если модель что-то не вернула\nconst valid_order =\n  typeof parsed.valid_order === \"boolean\" ? parsed.valid_order : false;\n\nconst product_name = parsed.product_name ?? null;\nconst size = parsed.size ?? null;\nconst link = parsed.link ?? null;\nconst raw_message = parsed.raw_message ?? aiAgentOutputRaw ?? null;\n\n// 3. Достаём данные Telegram из ноды Trigger\n//    (берём именно Telegram Trigger4, как ты делал)\nconst telegramNodeData = $(\"Telegram Trigger4\").all()[0]?.json;\nconst tgMsg = telegramNodeData?.message;\nconst tgFrom = tgMsg?.from;\n\nconst telegram_username = tgFrom?.username || \"без username\";\nconst telegram_id = tgFrom?.id || null;\n\n// 4. Собираем текст для менеджера (используем ТОЛЬКО если valid_order === true)\n//    Мы всё равно вернём manager_text вниз по потоку — IF-нода сама решит,\n//    отправлять его менеджеру или нет.\nconst manager_text =\n`Новый запрос от клиента:\n\nОригинальное сообщение:\n\"${raw_message}\"\n\nРаспознано:\nТовар: ${product_name}\nРазмер: ${size}\nСсылка: ${link}\n\nКлиент: @${telegram_username} (ID: ${telegram_id})`;\n\n// 5. Отдаём один item дальше\nreturn [\n  {\n    json: {\n      // флаг пригодности\n      valid_order,\n\n      // данные для менеджера\n      manager_text,\n      product_name,\n      size,\n      link,\n      raw_message,\n\n      // данные телеги\n      telegram_username,\n      telegram_id,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        2224
      ],
      "id": "84820afa-9320-498e-8403-863e985b42d9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $json.src.chat_id }}",
        "text": "={{ $('Route by Intent').item.json.menuConfig.stock.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.menuConfig.stock.keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.menuConfig.stock.keyboard[0][0].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1280,
        2048
      ],
      "id": "9f01575c-2b28-4982-8e1a-c2e2679afba8",
      "name": "How to check?",
      "webhookId": "59310861-c44c-407d-b68d-1345774f5c69",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $('Route by Intent').item.json.menuConfig.default.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[0][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[1][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[1][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[2][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[2][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[3][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $('Route by Intent').item.json.menuConfig.default.keyboard[3][0].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        1968
      ],
      "id": "d1875151-42a5-4f83-bc99-8d44975dbe4d",
      "name": "Confused",
      "webhookId": "f269bcfe-34a2-4b8a-ace9-dce4e8604643",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Route by Intent').item.json.src.chat_id }}",
        "text": "={{ $('Route by Intent').item.json.menuConfig.order.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2576,
        2352
      ],
      "id": "9b1eb026-f254-4595-a341-32d8264878e1",
      "name": "Order",
      "webhookId": "abaa355c-e2e3-4b01-bdd7-9fbb4582786e",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst input = items[0]?.json || {};\n\n// Достаём chat_id по твоей цепочке приоритетов\nconst chat_id =\n\tinput?.message?.chat_id ||\n\tinput?.session?.chatId ||\n\tinput?.chatId ||\n\tinput?.userId ||\n\tnull;\n\nconst command = input.command || 'main';\nconst firstName = input.userName || '';\n\nconst cfg = input.menuConfig || {};\nconst block = cfg[command] ? cfg[command] : (cfg['default'] || {});\n\n// Сборка текста\nlet text = String(block.text || '').replace(/{firstName}/g, firstName);\n// Удаляем любые плейсхолдеры {something}\ntext = text.replace(/{\\w+}/g, '');\n\nconst inline_keyboard = Array.isArray(block.keyboard) ? block.keyboard : [];\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\tchat_id, // <- только snake_case, это то что пойдёт в Telegram sendMessage\n\t\t\ttext,\n\t\t\tparse_mode: 'HTML',\n\t\t\tdisable_web_page_preview: true,\n\t\t\treply_markup: { inline_keyboard },\n\n\t\t\t// сервисные поля, которые можно юзать потом во flow\n\t\t\tuserName: firstName,\n\t\t\tcommand,\n\t\t},\n\t},\n];\n"
      },
      "id": "9814fa1b-844b-4cec-aacf-645bc5b59859",
      "name": "Build Menu Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1968
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "0"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 1
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2416,
        2352
      ],
      "id": "68080e2f-c242-4fd6-80f6-f33b94d4fe6f",
      "name": "Order + 1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "cRLJHAJP4PjgeIcI",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/J79gBJLVPPntD8dp/datatables/cRLJHAJP4PjgeIcI"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -784,
        2656
      ],
      "id": "3d12a96c-242f-4978-9346-83d9d389b321",
      "name": "Order -1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2224,
        1296
      ],
      "id": "4e04a675-fdda-4d33-9763-a06c82bef1bd",
      "name": "Order, Stock"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1856,
        1408
      ],
      "id": "6505cd34-ed02-414a-98d1-563cad49d381",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85056e43-1404-451e-95fa-6162d52abe75",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}\n\n\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        1536
      ],
      "id": "7d28ccba-5b5d-4482-8e1d-7f9a87dfe1be",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 0
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -224,
        1968
      ],
      "id": "10644798-86b1-4c0d-ab07-ca8b216f352a",
      "name": "Order -"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "G5Bv0F09vEO9Kbr7",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/G5Bv0F09vEO9Kbr7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chatId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chatId }}",
            "menuAction": "={{ $json.session.menuAction }}",
            "User_name": "={{ $json.callback_query?.from?.username || $json.userName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "menuAction",
              "displayName": "menuAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User_name",
              "displayName": "User_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1504,
        1264
      ],
      "id": "916ac325-32cd-4540-bdf8-2225cf801159",
      "name": "Save Session"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "G5Bv0F09vEO9Kbr7",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/G5Bv0F09vEO9Kbr7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2240,
        1536
      ],
      "id": "02d2684a-1b7d-4c88-8406-958f63c3e599",
      "name": "Get session",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e166f223-1925-42b5-bd80-fa0c0427c143",
              "name": "session",
              "value": "={{ { \"menuAction\": $json.menuAction } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        1600
      ],
      "id": "459f4c19-c7c1-4eb8-b456-1ab599558238",
      "name": "Attach session"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "8udsLm3XQAzB9uW9",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/J79gBJLVPPntD8dp/datatables/8udsLm3XQAzB9uW9"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('If').item.json.chat_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('If').item.json.chat_id }}",
            "menuAction": "=main"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "menuAction",
              "displayName": "menuAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        2656
      ],
      "id": "ec1b1f42-9e7d-4e8a-b89e-b392d2940be2",
      "name": "Save Session Reset1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "G5Bv0F09vEO9Kbr7",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/G5Bv0F09vEO9Kbr7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "menuAction": "=main"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "menuAction",
              "displayName": "menuAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User_name",
              "displayName": "User_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -208,
        1776
      ],
      "id": "5a54a7a1-8d88-4a19-b895-9feae719a453",
      "name": "Save Session Reset4"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "G5Bv0F09vEO9Kbr7",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/G5Bv0F09vEO9Kbr7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "menuAction": "=main"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "menuAction",
              "displayName": "menuAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User_name",
              "displayName": "User_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -208,
        1584
      ],
      "id": "4cd5c1cb-73fe-492d-bb21-b297e2e54f32",
      "name": "Save Session Reset5"
    },
    {
      "parameters": {
        "chatId": "={{ $('If').item.json.src.chat_id}}",
        "text": "К сожалению, я не понял, что вы хотели заказать. Пожалуйста, сформулируйте заказ иначе .",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1568,
        2528
      ],
      "id": "4f4256eb-be2b-456c-819b-daab9025e6bf",
      "name": "Error in the order",
      "webhookId": "f17ca3df-13ab-4b80-9f07-d164e0dc3592",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b545543-ba4e-4d86-a585-6ac63f811f86",
              "leftValue": "={{ $json.valid_order }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        2224
      ],
      "id": "0b7ff3a7-af24-4179-acc8-5b4b4ae7d5b2",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        384
      ],
      "id": "62e9aea0-ae0c-48e9-a26d-d72dcbc85fd9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "=976192165",
        "text": "={{ $json.manager_text }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1008,
        2832
      ],
      "id": "87db4a06-ebd7-4094-bd84-5b1363f863c3",
      "name": "Notify Manager1",
      "webhookId": "758c7c25-5f34-4f70-bf57-35e1fde984ae",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 0
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -800,
        2832
      ],
      "id": "7c751bc2-4ffa-4d78-89e8-aca929d95944",
      "name": "Order -2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "G5Bv0F09vEO9Kbr7",
          "mode": "list",
          "cachedResultName": "Sessions",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/G5Bv0F09vEO9Kbr7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $('If').item.json.src.chat_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "menuAction": "menu"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "menuAction",
              "displayName": "menuAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User_name",
              "displayName": "User_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        2832
      ],
      "id": "4bc6e2cc-6881-4099-8953-9da9d4633868",
      "name": "Save Session Reset2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 0
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -64,
        1776
      ],
      "id": "f29c51b4-d31c-4a0a-a87b-261a4fc0ba2e",
      "name": "Order --"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 0
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -64,
        1584
      ],
      "id": "43513012-1160-4113-aa03-c763ac8313c3",
      "name": "Order-"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "OKfxRGk4hG8oWxFd",
          "mode": "list",
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/OKfxRGk4hG8oWxFd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "order",
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order": 0
          },
          "matchingColumns": [
            "order"
          ],
          "schema": [
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1104,
        2048
      ],
      "id": "a39b9070-19c6-451b-9926-026e35b8fe68",
      "name": "Order-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d5b5eed-5d8d-4fb5-9a8b-725e59db437c",
              "leftValue": "={{ $json.src.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        1904
      ],
      "id": "5865c083-99df-4a4d-a480-3d9ca77ba95e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "fOYn4xWkmvmF24QA",
          "mode": "list",
          "cachedResultName": "OffsetStore",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/fOYn4xWkmvmF24QA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "listOffset",
              "condition": "gte",
              "keyValue": "0"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listOffset": "={{ $('If3').item.json.listOffset }}"
          },
          "matchingColumns": [
            "listOffset"
          ],
          "schema": [
            {
              "id": "listOffset",
              "displayName": "listOffset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        528,
        1152
      ],
      "id": "a1eaaf65-31eb-43e0-bb41-730f64ef444b",
      "name": "ListOffset"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -512,
        1392
      ],
      "id": "832ae89d-451c-4634-8aeb-ca5361c92da0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fOYn4xWkmvmF24QA",
          "mode": "list",
          "cachedResultName": "OffsetStore",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/fOYn4xWkmvmF24QA"
        },
        "filters": {
          "conditions": [
            {
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -688,
        1216
      ],
      "id": "9fa8dcd7-1a44-4707-91a2-1419038c8f65",
      "name": "get listOffset",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "fOYn4xWkmvmF24QA",
          "mode": "list",
          "cachedResultName": "OffsetStore",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/fOYn4xWkmvmF24QA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "listOffset",
              "condition": "gte",
              "keyValue": "0"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "listOffset": "={{ $('If3').item.json.listOffset }}"
          },
          "matchingColumns": [
            "listOffset"
          ],
          "schema": [
            {
              "id": "listOffset",
              "displayName": "listOffset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        528,
        1456
      ],
      "id": "2542a746-5cfb-42aa-8e7d-679852ddc9a8",
      "name": "ListOffset1"
    }
  ],
  "pinData": {},
  "connections": {
    "Find Variant1": {
      "main": [
        [
          {
            "node": "get listOffset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Все позиции2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Все позиции3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Order, Stock",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback?": {
      "main": [
        [
          {
            "node": "Answer Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update": {
      "main": [
        []
      ]
    },
    "Build Menu Message": {
      "main": [
        [
          {
            "node": "Start menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Build Menu Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Variant1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Payment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply HowTo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Menu Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "How to check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply Payment": {
      "main": [
        [
          {
            "node": "Save Session Reset5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply HowTo": {
      "main": [
        [
          {
            "node": "Save Session Reset4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager": {
      "main": [
        [
          {
            "node": "Order -1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error in the order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How to check?": {
      "main": [
        [
          {
            "node": "Order-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confused": {
      "main": [
        [
          {
            "node": "Order -",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "Order + 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Menu Message1": {
      "main": [
        [
          {
            "node": "Confused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order -1": {
      "main": [
        [
          {
            "node": "Save Session Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order, Stock": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Update1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get session": {
      "main": [
        [
          {
            "node": "Attach session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach session": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Save Session Reset4": {
      "main": [
        [
          {
            "node": "Order --",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session Reset5": {
      "main": [
        [
          {
            "node": "Order-",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Reply Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error in the order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Manager1": {
      "main": [
        [
          {
            "node": "Order -2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order -2": {
      "main": [
        [
          {
            "node": "Save Session Reset2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update1": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Все позиции2": {
      "main": [
        [
          {
            "node": "ListOffset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get listOffset": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Все позиции3": {
      "main": [
        [
          {
            "node": "ListOffset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListOffset": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eaf45f5b-84a7-452e-97f9-661e821abb8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b42ef11fb9a07361aa8afa022fcc0191c5c361f93e1b8491f63d1f46deadb3"
  },
  "id": "sDaG0bUGhKGTcBvU",
  "tags": []
}