Rely2026_bot.json
{
  "name": "Rely2026_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        544
      ],
      "id": "721b4555-e3c2-45d7-bf25-dcc9313ce4d0",
      "name": "Telegram Trigger",
      "webhookId": "a3ebfa6b-5d56-49d5-8127-58bd3d680cc2",
      "credentials": {
        "telegramApi": {
          "id": "oGj8NtxFNeMajAXW",
          "name": "@Rely2026_bot"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# items — стандартная переменная n8n, содержащая все входящие item'ы\n\nphoto_list = []\n\n# простой счётчик id_fotos\ncurrent_id = 1\n\nfor it in items:\n    foto = dict(it[\"json\"]) if \"json\" in it else {}\n\n    # добавляем id_fotos\n    foto[\"id_fotos\"] = current_id\n    current_id += 1\n\n    photo_list.append(foto)\n\n# Возвращаем один объект:\nreturn [\n    {\n        \"json\": {\n            \"fotos\": photo_list\n        }\n    }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        432
      ],
      "id": "4b682303-2636-41fd-89e3-b7553568e215",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "amount": "=5"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        352,
        128
      ],
      "id": "ae6b4946-7c61-478b-8b55-c4b3c636d3bc",
      "name": "Wait1",
      "webhookId": "1d9de6bf-7090-43ef-9945-71424eef35eb"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n# Берём первый входящий item и вытаскиваем caption\nitems_in = items\ncaption = (items_in[0].get(\"json\", {}).get(\"caption\") or \"\").strip()\n\nLETTER_ORDER = [\"XXS\", \"XS\", \"S\", \"M\", \"L\", \"XL\", \"XXL\"]\n\n# Базовые цвета (RU/EN) + типы/материалы\nCOLOUR_KEYWORDS = [\n    # русские цвета\n    \"черный\", \"чёрный\", \"черная\", \"чёрная\", \"черное\", \"чёрное\",\n    \"белый\", \"белая\", \"белое\",\n    \"серый\", \"серая\", \"серое\",\n    \"кремовый\", \"кремовая\", \"кремовое\",\n    \"молочный\", \"молочная\", \"молочное\",\n    \"бежевый\", \"бежевая\", \"бежевое\",\n    \"коричневый\", \"коричневая\", \"коричневое\",\n    \"карамельный\", \"карамельная\",\n    \"рыжий\", \"рыжая\",\n    \"золотой\", \"золотая\",\n    \"серебристый\", \"серебристая\",\n    \"красный\", \"красная\",\n    \"бордовый\", \"винный\",\n    \"розовый\", \"розовая\",\n    \"оранжевый\", \"оранжевая\",\n    \"желтый\", \"желтая\", \"жёлтый\", \"жёлтая\",\n    \"зеленый\", \"зелёный\", \"зеленая\", \"зелёная\",\n    \"хаки\",\n    \"голубой\", \"голубая\",\n    \"синий\", \"синяя\",\n    \"темно-синий\", \"тёмно-синий\",\n    \"бирюзовый\",\n    \"фиолетовый\", \"лавандовый\",\n    \"серо-бежевый\", \"серо бежевый\",\n    # english\n    \"black\", \"white\", \"grey\", \"gray\", \"beige\", \"brown\",\n    \"camel\", \"ivory\", \"cream\", \"milk\", \"red\", \"wine\",\n    \"burgundy\", \"pink\", \"orange\", \"yellow\", \"green\",\n    \"khaki\", \"blue\", \"navy\", \"sky blue\", \"turquoise\",\n    \"purple\", \"lavender\", \"gold\", \"silver\",\n]\n\nTYPE_KEYWORDS = [\n    # материалы / типы RU\n    \"кожаный\", \"кожаная\", \"кожаное\", \"кожа\",\n    \"эко-кожа\", \"экокожа\", \"искусственная кожа\",\n    \"замшевый\", \"замшевая\", \"замша\",\n    \"бархатный\", \"бархатная\", \"бархат\",\n    \"джинсовый\", \"джинсовая\", \"деним\",\n    \"трикотажный\", \"трикотажная\", \"трикотаж\",\n    \"льняной\", \"льняная\", \"лен\", \"лён\",\n    \"шерстяной\", \"шерстяная\", \"шерсть\",\n    \"хлопковый\", \"хлопковая\", \"хлопок\",\n    \"атласный\", \"атласная\", \"атлас\",\n    \"шелковый\", \"шёлковый\", \"шелковая\", \"шёлковая\", \"шелк\", \"шёлк\",\n    \"бархатистый\",\n    # english\n    \"leather\", \"eco leather\", \"faux leather\",\n    \"suede\", \"velvet\", \"denim\", \"knit\", \"linen\", \"wool\", \"cotton\",\n    \"satin\", \"silk\", \"silky\",\n]\n\n\ndef expand_sizes(size_str):\n    \"\"\"\n    Разворачивает числовые размеры:\n    '38-40' -> [38, 39, 40]\n    '38, 40/42' -> [38, 40, 42]\n    \"\"\"\n    size_str = size_str.replace(\" \", \"\")\n    result = set()\n\n    for part in re.split(r\"[,/]\", size_str):\n        if \"-\" in part:\n            start, end = part.split(\"-\", 1)\n            if start.isdigit() and end.isdigit():\n                for num in range(int(start), int(end) + 1):\n                    result.add(num)\n        else:\n            if part.isdigit():\n                result.add(int(part))\n\n    return sorted(result)\n\n\ndef expand_letter_sizes_range(start_size, end_size):\n    \"\"\"\n    Разворачивает диапазон буквенных размеров:\n    'S', 'XL' -> ['S', 'M', 'L', 'XL']\n    \"\"\"\n    start_size = start_size.upper()\n    end_size = end_size.upper()\n\n    if start_size not in LETTER_ORDER or end_size not in LETTER_ORDER:\n        # На всякий случай — если что-то нестандартное\n        return [start_size] if start_size in LETTER_ORDER else []\n\n    i1 = LETTER_ORDER.index(start_size)\n    i2 = LETTER_ORDER.index(end_size)\n\n    if i1 <= i2:\n        return LETTER_ORDER[i1:i2 + 1]\n    else:\n        # Если вдруг диапазон указан наоборот: XL-S\n        return LETTER_ORDER[i2:i1 + 1]\n\n\ndef clean_price_int(value):\n    \"\"\"\n    Превращает строку цены в int (15900 из '15.900₽' / '15 900 руб.')\n    \"\"\"\n    if not value:\n        return None\n\n    value = value.replace(\" \", \"\")\n    value = value.replace(\".\", \"\").replace(\",\", \"\")\n    value = re.sub(r\"[^\\d]\", \"\", value)\n\n    if value == \"\":\n        return None\n\n    return int(value)\n\n\ndef extract_colour(text):\n    \"\"\"\n    Ищет в строке цвет/тип (кожаный, бархатный и т.п.).\n    Возвращает строку вида 'черный, кожаный' или None.\n    \"\"\"\n    if not text:\n        return None\n\n    t = text.lower()\n    found = []\n    seen = set()\n\n    # сначала ищем составные фразы (с пробелами/дефисами)\n    composite_keywords = [\n        k for k in COLOUR_KEYWORDS + TYPE_KEYWORDS if \" \" in k or \"-\" in k\n    ]\n    simple_keywords = [\n        k for k in COLOUR_KEYWORDS + TYPE_KEYWORDS if \" \" not in k and \"-\" not in k\n    ]\n\n    # составные — по вхождению подстроки\n    for k in composite_keywords:\n        if k in t and k not in seen:\n            seen.add(k)\n            found.append(k)\n\n    # простые — по словам\n    for k in simple_keywords:\n        if re.search(r\"\\b\" + re.escape(k) + r\"\\b\", t) and k not in seen:\n            seen.add(k)\n            found.append(k)\n\n    if not found:\n        return None\n\n    # Можно вернуть как список, но удобнее как строку\n    return \", \".join(found)\n\n\ndef parse_caption(text):\n    result_items = []\n\n    # 0. Убираем хвост с призывом к действию, чтобы он не прилипал к последнему товару\n    text = re.sub(r\"📩.*$\", \"\", text, flags=re.S)\n    if \"Aleor_offline\" in text:\n        text = text.split(\"Aleor_offline\", 1)[0]\n\n    # Разделение текста на блоки по 5-значному номеру\n    product_blocks = re.findall(\n        r\"(\\d{5}.*?)(?=(?:\\d{5}\\s)|$)\",\n        text,\n        flags=re.S,\n    )\n\n    price_pattern = r\"(\\d[\\d.,]*\\s*(?:₽|RUB))\"\n\n    for block in product_blocks:\n        raw_line = \" \".join(block.split())\n\n        m_num = re.match(r\"(\\d{5})(?:\\s+(.*))?$\", raw_line)\n        if not m_num:\n            continue\n\n        base_number = m_num.group(1)       # строка '00003'\n        rest = (m_num.group(2) or \"\").strip()\n\n        # Если только номер без описания\n        if not rest:\n            result_items.append({\n                \"product_number\": base_number,\n                \"product_name\": \"\",\n                \"variant\": \"\",\n                \"size\": None,\n                \"price_new\": None,\n                \"price_old\": None,\n                \"raw_line\": raw_line,\n                \"colour\": None,\n            })\n            continue\n\n        # --- ЦЕНЫ ---\n        all_prices = re.findall(price_pattern, raw_line)\n        price_new = None\n        price_old = None\n\n        if all_prices:\n            # Первая цена — новая, последняя — старая (если есть)\n            price_new = clean_price_int(all_prices[0])\n            if len(all_prices) > 1:\n                price_old = clean_price_int(all_prices[-1])\n\n        # --- РАЗМЕРЫ ---\n        sizes_list = []\n        size_type = None  # \"eu\" или \"letter\"\n\n        # 1) Пробуем найти числовые размеры с EU\n        m_eu = re.search(r\"([\\d\\s,\\/\\-]+)\\s*EU\", raw_line)\n        if m_eu:\n            eu_sizes = expand_sizes(m_eu.group(1))\n            if eu_sizes:\n                sizes_list = eu_sizes\n                size_type = \"eu\"\n        else:\n            # 2) Пробуем буквенные размеры XXS–XXL\n            m_letter = re.search(\n                r\"\\b(XXS|XS|S|M|L|XL|XXL)(?:\\s*-\\s*(XXS|XS|S|M|L|XL|XXL))?\\b\",\n                raw_line,\n                flags=re.I,\n            )\n            if m_letter:\n                s1 = m_letter.group(1).upper()\n                s2 = m_letter.group(2).upper() if m_letter.group(2) else None\n                size_type = \"letter\"\n\n                if s2:\n                    sizes_list = expand_letter_sizes_range(s1, s2)\n                else:\n                    sizes_list = [s1]\n\n        # m_letter может понадобиться дальше для индекса:\n        m_letter = locals().get(\"m_letter\", None)\n\n        # --- НАЗВАНИЕ ТОВАРА (старый способ, как fallback) ---\n        num_end = m_num.end(1)  # позиция конца номера\n        first_price_match = re.search(price_pattern, raw_line)\n\n        brand_cut_index = len(raw_line)\n\n        if first_price_match:\n            brand_cut_index = min(brand_cut_index, first_price_match.start())\n        if m_eu:\n            brand_cut_index = min(brand_cut_index, m_eu.start())\n        if m_letter:\n            brand_cut_index = min(brand_cut_index, m_letter.start())\n\n        product_name_old = raw_line[num_end:brand_cut_index].strip(\" ,\")\n        if not product_name_old and rest:\n            product_name_old = rest\n\n        # --- НОВАЯ ЛОГИКА БРЕНДА (С УЧЁТОМ РАЗМЕРОВ) ---\n        after_number_words = rest.split()\n        brand_words = []\n\n        for i, word in enumerate(after_number_words):\n            w = word.strip(\",.()\").upper()\n\n            # Пропускаем размеры (XXS–XXL, S/M, L/XL и т.п.)\n            if w in LETTER_ORDER:\n                continue\n            if re.fullmatch(r\"(XXS|XS|S|M|L|XL|XXL)(/(XXS|XS|S|M|L|XL|XXL))?\", w):\n                continue\n\n            # Ищем первое слово с латиницей\n            if re.search(r\"[A-Za-z]\", word):\n                brand_words.append(word)\n\n                # Проверяем следующее слово — если оно тоже латиница и не размер\n                if i + 1 < len(after_number_words):\n                    next_word = after_number_words[i + 1]\n                    next_w = next_word.strip(\",.()\").upper()\n\n                    if (re.search(r\"[A-Za-z]\", next_word) and\n                        next_w not in LETTER_ORDER and\n                        not re.fullmatch(r\"(XXS|XS|S|M|L|XL|XXL)(/(XXS|XS|S|M|L|XL|XXL))?\", next_w)):\n                        brand_words.append(next_word)\n\n                break\n\n        brand = \" \".join(brand_words).strip(\" ,\")\n\n        if brand:\n            product_name = brand\n        else:\n            # если бренда по латинице не нашли — используем старую логику\n            product_name = product_name_old\n\n        variant = \"\"\n\n        # --- ЦВЕТ / ТИП ---\n        colour = extract_colour(raw_line)\n\n        # --- СОЗДАЁМ ITEMS ---\n        if not sizes_list:\n            result_items.append({\n                \"product_number\": base_number,\n                \"product_name\": product_name,\n                \"variant\": variant,\n                \"size\": None,\n                \"price_new\": price_new,\n                \"price_old\": price_old,\n                \"raw_line\": raw_line,\n                \"colour\": colour,\n            })\n        else:\n            for s in sizes_list:\n                if size_type == \"eu\":\n                    size_value = str(s)\n                else:\n                    size_value = s  # 'XS', 'S', 'M', 'L', 'XL', ...\n\n                result_items.append({\n                    \"product_number\": base_number,\n                    \"product_name\": product_name,\n                    \"variant\": variant,\n                    \"size\": size_value,\n                    \"price_new\": price_new,\n                    \"price_old\": price_old,\n                    \"raw_line\": raw_line,\n                    \"colour\": colour,\n                })\n\n    # --- Создаём id_item по product_number ---\n    base_to_id = {}\n    current_id = 1\n\n    for item in result_items:\n        pn = item[\"product_number\"]\n        if pn not in base_to_id:\n            base_to_id[pn] = current_id\n            current_id += 1\n        item[\"id_item\"] = base_to_id[pn]\n\n    return {\"items\": result_items}\n\n\n# Запускаем парсер и возвращаем результат для n8n\nparsed = parse_caption(caption)\n\nreturn [{\n    \"json\": parsed\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        128
      ],
      "id": "3dd075b3-1f0e-42b1-89e2-09a4ebf7890b",
      "name": "Code in Python (Beta)1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "s5bCtn0uH8aHs8Ol",
          "mode": "list",
          "cachedResultName": "TelegramAlbumBuffer",
          "cachedResultUrl": "/projects/X1POyEYy8ekNc4Iq/datatables/s5bCtn0uH8aHs8Ol"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "media_group_id",
              "displayName": "media_group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -160,
        368
      ],
      "id": "01ededa7-f326-4ebf-9adb-a73629085972",
      "name": "Saving"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b191c0-db8b-47cf-b9ce-dcd26226cf2c",
              "leftValue": "={{ $json.channel_post.media_group_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        560
      ],
      "id": "673c8315-e5b9-46f1-8f42-231d6c4c8581",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b191c0-db8b-47cf-b9ce-dcd26226cf2c",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        240
      ],
      "id": "540964d1-8584-4d8e-bfaf-82edd61c49e7",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zF7GH0wSQFf9RjNG",
          "mode": "list",
          "cachedResultName": "TelegramAlbumBuffer",
          "cachedResultUrl": "/projects/J79gBJLVPPntD8dp/datatables/zF7GH0wSQFf9RjNG"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "media_group_id",
              "keyValue": "={{ $json.media_group_id }}"
            },
            {}
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        432
      ],
      "id": "d7a32e71-59b8-446f-b91c-1e3a96fc0ffb",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=items",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        944,
        128
      ],
      "id": "de4d575e-9f85-45a8-961f-8ff8fd3296f6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zF7GH0wSQFf9RjNG",
          "mode": "list",
          "cachedResultName": "TelegramAlbumBuffer",
          "cachedResultUrl": "/projects/J79gBJLVPPntD8dp/datatables/zF7GH0wSQFf9RjNG"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "media_group_id",
              "keyValue": "={{ $json.media_group_id }}"
            },
            {
              "keyName": "caption",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        576,
        96
      ],
      "id": "db690ddb-b782-457f-9e6c-7509406977d0",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fotos",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        816,
        432
      ],
      "id": "68f94a8c-6409-428a-92da-5fc5e7939c10",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "items.id_item",
              "field2": "fotos.id_fotos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        352
      ],
      "id": "d2b04609-e781-446c-aab0-e4a25b913b12",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "zF7GH0wSQFf9RjNG",
          "mode": "list",
          "cachedResultName": "TelegramAlbumBuffer",
          "cachedResultUrl": "/projects/J79gBJLVPPntD8dp/datatables/zF7GH0wSQFf9RjNG"
        },
        "filters": {
          "conditions": [
            {
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1728,
        480
      ],
      "id": "1f4f3044-1e15-4589-ab30-dd5f34a355ba",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appQu6xEHi6aHAuDM",
          "mode": "list",
          "cachedResultName": "Product Catalog",
          "cachedResultUrl": "https://airtable.com/appQu6xEHi6aHAuDM"
        },
        "table": {
          "__rl": true,
          "value": "tblbMlEHH6iZ0D0na",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appQu6xEHi6aHAuDM/tblbMlEHH6iZ0D0na"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product Photo": "={{ $json.product_photo }}",
            "product_number": "={{ $json.items.product_number }}",
            "Size": "={{ $json.items.size }}",
            "Price": "={{ $json.items.price_new }}",
            "Brand": "={{ $json.items.product_name }}",
            "Colour": "={{ $json.items.colour }}",
            "Description": "={{ $json.items.raw_line }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_number",
              "displayName": "product_number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Category (AI)",
              "displayName": "Product Category (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Colour",
              "displayName": "Colour",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Days Since Update",
              "displayName": "Days Since Update",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1984,
        112
      ],
      "id": "a6a32f1e-cf6e-4fdb-b9ad-83e4837493f3",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "SUvXYEflYEOLFKD6",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.fotos.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        32
      ],
      "id": "3cfdbcfc-c2ff-4524-b7a1-967b36d07e88",
      "name": "Get a file",
      "webhookId": "5241f09c-8622-45dd-b5d1-d4c6042dce9e",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function / Code node\n\n// Можно вынести токен в переменную (или взять из $env, если хочешь)\nconst BOT_TOKEN = '8118258878:AAHqnLvF2NzMBqP11exKwFf8jXM2DpU4hQI';\n\nreturn items.map(item => {\n  const filePath = item.json.result?.file_path;\n\n  // На случай, если вдруг нет file_path — чтобы нода не падала\n  const product_photo = filePath\n    ? [\n        {\n          url: `https://api.telegram.org/file/bot${BOT_TOKEN}/${filePath}`\n        }\n      ]\n    : [];\n\n  return {\n    json: {\n      ...item.json,\n      product_photo,\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        32
      ],
      "id": "2cb7522b-2d16-4ba3-8d3e-ceafde65bd39",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        112
      ],
      "id": "f395a0fd-8908-4285-9dd0-c96869c23cd6",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ],
      "id": "20cc04b3-8b72-449e-b313-82c8c7b180a3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4e60f08-4540-4b2d-9644-350bd22cd9d0",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "Aleor_offline",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        144
      ],
      "id": "10d196a8-08b1-4366-b37b-f2bdab47414a",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        48,
        816
      ],
      "id": "1392b5f6-21f9-4b95-8701-417d464bed36",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "##  Доделать логику для единичного товара\n\n",
        "height": 352,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        688
      ],
      "id": "d46f6ac1-e95e-4d0f-bd79-a138d577f84c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "=976192165",
        "text": "✅ Данные занесены в базу!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        480
      ],
      "id": "d829c154-6802-48c1-b26b-d4a7f832b3d5",
      "name": "Send a text message",
      "webhookId": "1e5889f3-09f0-4ce7-930c-77cefef8b395",
      "credentials": {
        "telegramApi": {
          "id": "tiy2v3e2GBz9Q8oz",
          "name": "Aleor bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e27ae08-9888-4cf3-a607-b9b168389538",
                    "leftValue": "={{ $json.items.id_item }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1392,
        480
      ],
      "id": "00099282-65d7-4602-b3e1-df4747a95ac5",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "##  Что нужно сделать?\n\n###  1. Поменять бота на финального и передать Ване. \n###  2. Поменять базу Airtable. \n###  3. Добавить 1 бота в чат а другого в чат менеджеров.\n ",
        "height": 352,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        832
      ],
      "id": "0e875675-17ff-47b9-b129-14cc8776caa7",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saving": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Saving",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "446ed34f-17d7-47fc-90dd-0519276f4241",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14b42ef11fb9a07361aa8afa022fcc0191c5c361f93e1b8491f63d1f46deadb3"
  },
  "id": "YEsvKH9iChKxgA13",
  "tags": []
}